@font-face {
  font-family: 'thasadithregular';
  src: url('fonts/thasadith-regular-webfont.woff2') format('woff2'),
    url('fonts/thasadith-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_scriptleague_script';
  src: url('fonts/leaguescript-webfont.woff2') format('woff2'),
    url('fonts/leaguescript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a:link {
  color: #f17db2;
  cursor: url('img/cursor.png'), auto;
  text-decoration: none;
}

a:hover {
  cursor: url('img/cursor.png'), auto;
  color: #dc287a;
  text-decoration: none;
}

a:visited {
  cursor: url('img/cursor.png'), auto;
  color: #64905b;
  text-decoration: none;
}

::selection {
  color: #64905b;
}

body, html {
  cursor: url('img/cursor.png'), auto;
  font-family: 'thasadithregular';
  max-width: 800px;
  margin: auto;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 65% 25%;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 20px;
}

.summary {
  text-align: center;
}

.preamble {
  text-align: center;
  height: 500px;
  background-image: url(img/banner2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

h3 {
  animation: neon 3s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow:
      0 0 1px rgba(202, 228, 225, 0.92),
      0 0 2px rgba(202, 228, 225, 0.34),
      0 0 0px rgba(202, 228, 225, 0.92)
      0 0 0px rgba(202, 228, 225, 0.92)
      0 0 2px rgba(202, 228, 225, 0.92)
      0 0 2px #dc287a;
  }

  to {
    text-shadow:
      0 0 1px rgba(202, 228, 225, 0.98),
      0 0 3px rgba(202, 228, 225, 0.42),
      0 0 3px #f17db2,
      0 0 3px #f17db2,
      0 0 3px #dc287a,
      0 0 3px #f17db2;
  }
}

.wrapper {}

.intro {
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  padding-top: 650px;
  grid-column: 1 / span 2;
}

footer {
  text-align: center;
}

h3 {
  font-family: 'league_scriptleague_script';
  color: #f17db2;
  font-size: 25px;
}

h1, h2 {
  display: none;
}
